<template>
  <section>
    <h2>{{ heading }}</h2>
    
   <div v-if="errored" class="alert">
    <p>Oops...something has happened, damn computers.</p>
  </div>
  
   <div v-else class="character-container">
    <div v-if="loading" class="loader">The good stuff is loading...</div>
     <div v-else v-for="(character) in characterInfo" :key="character.id" class="character-card">
     <img v-bind:src="character.image"/>
     <h3 class="character-card__heading">{{character.name}}</h3>
     <p><strong>Information</strong></p>
      <ul>
          <li><strong>Status:</strong> {{character.status}} {{character.status === "Alive" ? "&#128515;" : "&#129323;" }}</li>
          <li><strong>Species:</strong> {{character.species}} {{character.species === "Human" ? "&#128118;" : "&#128125;"}}</li>
      </ul>
   </div>
   </div>
  </section>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Characters',
  props: {
    heading: String
  },
  data () {
    return {
      characterInfo: null,
      loading: true,
      errored: false
    }
  },
  mounted () {
    axios
      .get('https://rickandmortyapi.com/api/character')
      .then(response => {
        this.characterInfo = response.data.results
      })
      .catch(error => {
        console.log(error)
        this.errored = true
      })
      .finally(() => this.loading = false)
  }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.character-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.character-card {
  padding: 1rem 1.2rem;
  border: solid 2px #ebebeb;
  margin: 0.5rem;
  position: relative;
}
.character-card__heading {
  background-color: #ffffff;
  border: dashed 1px;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-20deg);
  padding: 0.5rem;
}
</style>
