<template>
  <main id="app">
    <header class="header">
      <h1 class="header__heading">Rick & Morty, Duh.</h1>
    </header>
    <Characters/>
  </main>
</template>

<script>
import Characters from './components/Characters.vue'

export default {
  name: 'App',
  components: {
    Characters
  }
}
</script>

<style>
body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  display: flex;
  flex-direction: column;
}

header.header {
  background-color: #97ce4c;
  padding: 1rem;
  text-align: center;
} 

.header__heading {
  color: #333333;
}
</style>
